.z-index {
    z-index: 3;
}

.gray {
    color: #8FA0B4;
}

.side-bar {
    overflow-y: scroll;
    /* Add the ability to scroll */
}


/* Hide scrollbar for Chrome, Safari and Opera */

.side-bar::-webkit-scrollbar {
    display: none;
}

a[tabindex]:focus {
    background-color: #FFB900;
    border-radius: 9px;
    color: white;
}

.active {
    background-color: #FFB900 !important;
    color: white!important;
}

.active1 {
    background: #355377;
    color: white!important;
}

ul {
    list-style-type: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.side-bar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}