<div class="side-bar position-fixed bottom-0 start-0 z-index py-3 z-2 px-2 top-90 col-lg-2" [class.hiddenSidebar]="showSide=='false'" [class.showSidebar]="showSide">
    <!--main navigation-->

    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/dashboard">
        <img src="../../../../assets/images/navigation/dashboard.svg"> dashboard
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/apartments">
        <img src="../../../../assets/images/navigation/apartment.svg"> apartments
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/users">
        <img src="../../../../assets/images/navigation/users.svg"> Tenants
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/owners">
        <img src="../../../../assets/images/navigation/owner 2.svg"> owners
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/payments">
        <img src="../../../../assets/images/navigation/payments.svg"> payments
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/messages">
        <img src="../../../../assets/images/navigation/messages.svg"> messages
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/statistics">
        <img src="../../../../assets/images/navigation/stats.svg"> statistics
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/inquiries">
        <img src="../../../../assets/images/navigation/help.svg"> inquiries
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/Issue_Reports">
        <img src="../../../../assets/images/navigation/reports.svg"> Issue_Reports
    </a>
    <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="/workers">
        <img src="../../../../assets/images/navigation/owner 2.svg"> Workers
    </a>
    <!-- <div *ngFor="let listAnchor of listAnchors ; let index=index">
        <a class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" :routerLink="/{{listAnchor.text}}" (click)="changeAnchor(index)" [class.chang-style-anchor]="link[index]==true">
            <img [src]="listAnchor.img" [class.chang-img-color]="link[index]==true"> {{listAnchor.text}}
        </a>

    </div> -->
    <div>
        <span class="gray mb-3 fw-bold mt-4 d-block">other</span>
        <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" :routerLink="#">
            <img src="../../../../assets/images/navigation/help.svg"> Help
        </a>
        <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" :routerLink="/admins" routerLinkActive="active" (click)="isFreeze = !isFreeze">
            <img src="../../../../assets/images/navigation/setting.svg"> Settings
        </a>
        <div class="sidebar-submenu" *ngIf="isFreeze">
            <ul class="list-none">
                <li class="list-none">
                    <a class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" (click)="setfraze()" routerLinkActive="active1" :routerLink="/admins">Admins
             </a>
                </li>
                <li class="list-none">
                    <a class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active1" :routerLink="/roles">System roles</a>
                </li>
                <li class="list-none">
                    <a class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active1">Notifications</a>
                </li>
            </ul>
        </div>
        <a tabindex="1" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" routerLinkActive="active" (click)="onSubmitModal2()">
            <img src="../../../../assets/images/navigation/logout.svg"> Logout
        </a>
        <!--APPs navigation-->
        <!-- <div *ngFor="let listAnchor of listAnchorsOther ; let index=index">

            <a *ngIf="listAnchor.text != 'Logout'&&listAnchor.text=='Settings' " class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" (click)="changeAnchor(index+9)" [class.chang-style-anchor]="link[index+9]==true">
                <img [src]="listAnchor.img" [class.chang-img-color]="link[index]==true"> {{listAnchor.text}}
            </a>
            <a *ngIf="listAnchor.text != 'Logout'&&listAnchor.text!='Settings'" class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" :routerLink="/{{listAnchor.text}}" (click)="changeAnchor(index+9)" [class.chang-style-anchor]="link[index+9]==true">
                <img [src]="listAnchor.img" [class.chang-img-color]="link[index]==true"> {{listAnchor.text}}
            </a>

            <a *ngIf="listAnchor.text === 'Logout' " class="text-decoration-none d-block px-2 mb-2 py-1 rounded-1" :routerLink="/{{listAnchor.text}}" (click)="changeAnchor(SideBarConstant.Logout)" [class.chang-style-anchor]="link[index+9]==true">
                <img [src]="listAnchor.img" [class.chang-img-color]="link[index]==true"> {{listAnchor.text}}
            </a>
        </div> -->
    </div>
</div>

<!-- sidebar-menu  -->
