.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px 24px 16px;
    position: relative;
    background-color: #ffffff;
}

.frame .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .text-and-supporting {
    display: flex;
    flex-direction: column;
    width: 740px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .text {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
}

.frame .supporting-text {
    position: relative;
    align-self: stretch;
}

.frame .frame-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .div-3 {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .input-with-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .label {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    color: black;
    white-space: nowrap;
}

.frame .input {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
}

.frame .content {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.frame .text-wrapper {
    position: relative;
    flex: 1;
    margin-top: -1px;
}

.frame .input-field-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 550px 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 0px 0px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
}

.frame .div-5 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .primary-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    all: unset;
    box-sizing: border-box;
}

.frame .auto-layout-button {
    display: inline-flex;
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    all: unset;
    box-sizing: border-box;
}

.frame .label-2 {
    color: black;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
}

.frame .div-6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.frame .label-wrapper {
    display: inline-flex;
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    all: unset;
    box-sizing: border-box;
}

.frame .label-3 {
    color: black;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    text-align: center;
    white-space: nowrap;
}

* {
    font-family: 'Montserrat'!important
}