<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Apartments'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0 CCCCFSMILY">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'apartments'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class="p-4 col-lg-10 " (click)="hidecard()">
        <!-- start part 1 in page  -->
        <div class="fw-bold d-flex justify-content-between" style="color: #6c6a6a;">
            <p>Apartments</p>
            <!-- start add button (add new apartment) in page  -->
            <app-add-new-button *ngIf="ApartmentsRole?.p_Add==true || is_Super==true" [id]="'apartments/page/add-new-apartments'"></app-add-new-button>
            <!-- end add button (add new apartment) in page  -->
        </div>
        <!-- end part 1 in page  -->
        <!-- start part 2 in page  -->
        <div class="card mt-4">
            <!-- <p-table #dt [value]="apartmentList" [(selection)]="apartmentList" dataKey="id" [filterDelay]="0" /> -->

            <div class="d-block d-md-flex justify-content-between my-2 bg-white p-3">
                <!-- start apartmentLists button  -->
                <div class="d-flex align-items-center " style="overflow: auto;    font-size: 15px;">
                    <div *ngFor="let data of apartmentFillterLists;let index=index;">
                        <div class="d-flex ">
                            <button class="apartmentList border-0 bg-transparent pb-2 mx-2" [class.clickApartmentList]="apartmentFillterSelected[index]==true" (click)="clickApartmentList(index)">{{data}}</button>
                            <div class="none">
                                <img src="assets/images/line.svg" [class.d-none]=" index == apartmentFillterLists.length-1">
                            </div>

                        </div>

                    </div>

                </div>
                <p-toast></p-toast>

                <!-- end apartmentLists button  -->
                <!-- start dropdown button  -->
                <app-dropdown [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
                <!-- end dropdown button  -->
            </div>
        </div>
        <!-- start part 3 to display paroduct Apartment details in page  -->
        <div class="row paroductApartment  px-1">
            <p-progressSpinner *ngIf="spinner == true"></p-progressSpinner>

            <ng-container *ngIf="apartmentList">
                <ng-container *ngFor="let item of apartmentList;">

                    <div class=" col-12 col-md-6 col-lg-3 mb-4  position-relative px-2 mb-4 h-100" style="height: 393px !important;">

                        <a routerLink="/apartments/apartments-details/{{item.apt_UUID}}" style="height: 46% !important;" class="d-block">
                            <img [src]="item.apt_ThumbImg.includes('http') ? item.apt_ThumbImg : '../../../assets/images/apartmentImages/default_apartment.jpg'" class="w-100 h-100 apartmentImage">
                            <p class="fw-bold position-absolute rentedORavailable rounded-pill top-0 m-2 py-1 px-3 " [class.available]="item.statusString != 'Rented'">{{item.statusString}}</p>
                        </a>
                        <div class="bg-white p-3 details h-50 rounded-bottom">
                            <div class="fw-bold  ">{{item.apt_Name }}</div>
                            <div class="d-flex">
                                <img src="assets/images/apartmentImages/location.svg" class="my-3">
                                <p class="fw-bold mt-3 text-left mx-1">{{item.apt_StName}}</p>
                            </div>
                            <div class="d-flex" style="margin: -25px 0 -10px 0;">
                                <div class="d-flex justify-content-between">
                                    <img src="assets/images/apartmentImages/room_bed.svg">
                                    <p class="fw-bold mt-4 mx-2">{{item.apt_Bedrooms}}</p>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <img src="assets/images/apartmentImages/user.svg">
                                    <p class="fw-bold mt-4 mx-2">{{item.apt_MaxGuest}}</p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="Price">
                                    ${{item.apt_Price}} <span class="time">/ month</span>
                                </div>
                                <div>
                                    <div class="cursor position-relative">
                                        <button class="border-0 outlin-0 bg-transparent" (click)="detailperson( $event,item.apt_UUID)">
                            <img src="assets/images/edit.svg">
                        </button>
                                        <div *ngIf="xx==item.apt_UUID" style="width: 191px;z-index: 999;right: 10px;" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                                            <button class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100" routerLink="/apartments/booking/{{item.apt_UUID}}">view bookings </button>
                                            <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" routerLink="/apartments/page/{{item.apt_UUID}}">Edit</button>
                                            <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" routerLink="/apartments/apartments-details/{{item.apt_UUID}}">View details </button>

                                            <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" (click)="AddtoBest(item.apt_UUID)">Add to best offers </button>

                                            <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" (click)="RemoveBest(item.apt_UUID)">Remove  Best  offer </button>

                                            <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" (click)="DeleteApartment(item.apt_UUID)"> Delete   </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </ng-container>
                <!-- <p-paginator *ngIf="apartmentList" (onPageChange)="tiggerPageChange($event)" [rows]="itemsPerPage" [totalRecords]="fullRespone?.totalRecords"></p-paginator> -->
                <div style="width: 100%; height: 72px; padding-top: 12px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px;   justify-content: space-between; align-items: center; display: inline-flex">
                    <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <!-- <a style="cursor: pointer;">
                      <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); border-radius: 8px; overflow: hidden; border: 1px #8FA0B4 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex">

                          <div style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">Previous</div>

                      </div>
                  </a> -->
                        <button (click)="decreamentPage( )" [disabled]="disableperv" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                    Previous
      </button>
                    </div>
                    <div style="color: #484649; font-size: 14px; font-family: 'Montserrat'; font-weight: 400; line-height: 20px; word-wrap: break-word">Page {{pageNumber}} of {{totalofPages}}</div>
                    <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
                        <!-- <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05); border-radius: 8px; overflow: hidden; border: 1px #8FA0B4 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex">
                          <div style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">Next</div>
                      </div> -->
                        <button [disabled]="disablenext" (click)="   incrementpage( )" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                        Next
          </button>
                    </div>
                </div>
            </ng-container>


        </div>
        <!-- end part 3 to display paroduct Apartment details in page  -->
    </main>
    <!-- end content page  -->
</div>


<!-- ***************************draft************************************ -->
<!--
          <div class="col-12 col-md-6 col-lg-3  px-2 mb-4" >
            <a routerLink="" class="position-relative d-block">
              <img src="assets/images/apartmentImages/img1.svg" class="w-100 h-100 ">
              <p class="fw-bold position-absolute rentedORavailable rounded-pill top-0 m-3 py-1 px-3 "[class.available]="!available">Rented</p>
            </a>
            <div class="bg-white px-2 py-3 details rounded-bottom">
              <div class="fw-bold">Salt Lake City, Apartment Salt Lake City, Apartment </div>
              <div class="d-flex justify-content-between" >
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/location.svg">
                  <p class="fw-bold mt-3 ms-2">Alt-Moabit</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/room_bed.svg">
                  <p class="fw-bold mt-3 ms-2">3</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/user.svg">
                  <p class="fw-bold mt-3 ms-2">2</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div><img src="assets/images/Price.svg"></div>
                <div><img class="pointer" src="assets/images/more_vert_FILL.svg"></div>
              </div>
            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-3  px-2 mb-4" >
            <a routerLink="" class="position-relative d-block">
              <img src="assets/images/apartmentImages/img1.svg" class="w-100 h-100 ">
              <p class="fw-bold position-absolute rentedORavailable rounded-pill top-0 m-3 py-1 px-3 "[class.available]="available">Available</p>
            </a>
            <div class="bg-white px-2 py-3 details rounded-bottom">
              <div class="fw-bold">Salt Lake City, Apartment Salt Lake City, Apartment </div>
              <div class="d-flex justify-content-between" >
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/location.svg">
                  <p class="fw-bold mt-3 ms-2">Alt-Moabit</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/room_bed.svg">
                  <p class="fw-bold mt-3 ms-2">3</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/user.svg">
                  <p class="fw-bold mt-3 ms-2">2</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div><img src="assets/images/Price.svg"></div>
                <div><img class="pointer" src="assets/images/more_vert_FILL.svg"></div>
              </div>
            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-3  px-2 mb-4" >
            <a routerLink="" class="position-relative d-block">
              <img src="assets/images/apartmentImages/img1.svg" class="w-100 h-100 ">
              <p class="fw-bold position-absolute rentedORavailable rounded-pill top-0 m-3 py-1 px-3 "[class.available]="available">Available</p>
            </a>
            <div class="bg-white px-2 py-3 details rounded-bottom">
              <div class="fw-bold">Salt Lake City, Apartment Salt Lake City, Apartment </div>
              <div class="d-flex justify-content-between" >
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/location.svg">
                  <p class="fw-bold mt-3 ms-2">Alt-Moabit</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/room_bed.svg">
                  <p class="fw-bold mt-3 ms-2">3</p>
                </div>
                <div class="d-flex justify-content-between">
                  <img src="assets/images/apartmentImages/user.svg">
                  <p class="fw-bold mt-3 ms-2">2</p>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div><img src="assets/images/Price.svg"></div>
                <div><img class="pointer" src="assets/images/more_vert_FILL.svg"></div>
              </div>
            </div>

          </div>
 -->