.row2s {
    border-bottom: 1px solid #e4e2e2;
    margin: 10px;
}

.row2ss {
    border-bottom: 1px solid #e4e2e2;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-bottom: 25px;
}
