    .active {
        color: #1f4068 !important;
        background-color: #fafcff;
        border-left: 3px solid #1f4068;
    }

    .content-details {
        @media (min-width: 992px) {
            margin-left: 17%;
            padding: 0 10% !important;
        }
    }

    .top-icon-input {
        top: 30px;
    }

    .rentedORavailable {
        background-color: rgb(255 255 255 / 70%);
        color: #1f4068 !important;
    }

    .rented {
        color: #1f4068 !important;
    }

    .available {
        color: #12b76a !important;
    }

    .p-dropdown {
        width: 100% !important;
        height: 40px;
        .p-dropdown-label {
            padding: 5px 10px;
        }
    }

    .downloadAll {
        border: 1px solid#939094 !important;
        color: #1F4068 !important;
    }

    * {
        font-family: 'Montserrat'!important
    }

    .imageOfPerson {
        height: 180px !important;
        width: 180px !important;
        overflow: hidden;
        @media (max-width: 993px) {
            height: 150px !important;
            width: 150px !important;
            margin: auto !important;
        }
    }

    .delete {
        margin-left: 10px;
    }

    .btn-container {
        position: relative;
        display: inline-block;
        .btn-style {
            background-color: #1f4068;
            color: white;
            border: none;
            border-radius: 8px;
        }
        .sendDataPButton {
            .p-button {
                height: 36px !important;
            }
        }
        /* Position the file input to cover the button */
        input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }

    .active {
        color: #1f4068 !important;
        background-color: #fafcff;
        border-left: 3px solid #1f4068;
    }

    .content-details {
        @media (min-width: 992px) {
            margin-left: 17%;
            padding: 0 10% !important;
        }
    }

    .top-icon-input {
        top: 30px;
    }

    .rentedORavailable {
        background-color: rgb(255 255 255 / 70%);
        color: #1f4068 !important;
    }

    .rented {
        color: #1f4068 !important;
    }

    .available {
        color: #12b76a !important;
    }

    .p-dropdown {
        width: 100% !important;
        height: 40px;
        .p-dropdown-label {
            padding: 5px 10px;
        }
    }

    .downloadAll {
        border: 1px solid#939094 !important;
        color: #1F4068 !important;
    }

    * {
        font-family: 'Montserrat'!important
    }

    .gray {
        color: #6c6a6a;
    }

    .blue {
        color: #1F4068
    }

    .uploadedContractBorder {
        border: 1px solid #235a9e;
    }

    .backcancel {
        border: 1px solid#798CA4 !important;
        color: #0C1A2A !important;
    }

    .file {
        z-index: 3 !important;
        opacity: 0;
        cursor: pointer;
    }

    .h-124px {
        height: 124px !important;
    }

    .cursor {
        cursor: pointer;
    }

    .imgPreviewUploader {
        max-width: 35% !important;
        ;
    }

    .blue {
        color: #1F4068
    }

    .cursor {
        cursor: pointer;
    }

    .Price {
        color: #1F4068;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        .time {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: -2px;
        }
    }
