<!-- start header -->
<header>
  <app-head (newItemEvent)="addItem($event)" [titleModule]="'Dashboard'"></app-head>
</header>
<!-- end header -->
<div class="row m-0">
  <!-- start sidebar  -->
  <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'dashboard'"></app-sidebar>
  <!-- end sidebar  -->
  <!-- start content page  -->
  <main class=" p-4 col-lg-10">
    <!-- start part 1 in page  -->
    <div class="d-md-flex justify-content-between dashboard">
      <p class="fw-bold" style="color: #6c6a6a;">Dashboard</p>
      <div class="d-flex justify-content-lg-between ">
        <div class="d-flex justify-content-between ">
          <button class="month rounded-start px-3 py-1 outline-none">This Month</button>
          <button class="week rounded-end px-3 py-1 outline-none">Last Week</button>
        </div>
        <!-- start dropdown button  -->
        <app-dropdown class="ms-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
        <!-- end dropdown button  -->
      </div>
    </div>
    <!-- end part 1 in page  -->

    <!-- start part 2 in page  -->
    <div class="mt-3 row ">
      <!-- start total details cards -->
      <app-total-detail-dashboard class="col-12 col-md-6 col-lg-3" 
      *ngFor="let item of [0, 1, 2, 3]"></app-total-detail-dashboard>
      
      <!-- end total details cards -->
    </div>
    <!-- end part 2 in page  -->
    <!-- start part 3 in page  -->
    <div class="mt-3 d-lg-flex  justify-content-between ">
      <!-- start Popular Apartments diagram  -->
      <div class="p-3 table-abrtment  me-lg-4 rounded" >
        <div class="d-md-flex justify-content-md-between">
          <p class="fw-bold fs-16">Popular Apartments</p>
          <app-dropdown  [list]="listDropDown" (selected)="selectedfromDropDownPopularApartments($event)"></app-dropdown>
        </div>

      </div>
      <!-- end Popular Apartments diagram  -->

      <!-- start Apartments Rented & Free diagram -->
      <div class=" p-3 recentActivity rounded">
        <div class="d-flex justify-content-between ">
          <p class="PopularApartments mt-0 w-25 fs-1rem fw-bold">Apartments Rented & Free</p>
          <app-dropdown  [list]="listDropDown" (selected)="selectedfromDropDownApartmentsRentedFree($event)"></app-dropdown>
        </div>
        <div class="text-center">
          <p-knob [(ngModel)]="apartmentsRentedDial" valueColor="#12B76A" [size]="150" rangeColor="#1F4068"></p-knob>
        </div>
      </div>
      <!-- end Apartments Rented & Free diagram -->

    </div>
   
    <div class="mt-3 d-lg-flex  justify-content-between ">
      <!-- start Popular Apartments table  -->
      <div class="p-3 table-abrtment me-lg-4 rounded" style="overflow: overlay;">
        <div class="d-md-flex justify-content-between">
          <p class="fw-bold fs-16">Popular Apartments</p>
          <app-dropdown  [list]="listDropDown" (selected)="selectedfromDropDownPopularApartmentstable($event)"></app-dropdown>
        </div>
        <table class="table table-hover mt-2">
          <thead>
            <tr >
              <th  scope="col" style="font-size: .9rem;" *ngFor="let datahead of headTableList">{{datahead}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowDatalist">
              <th scope="row" class="d-md-flex ">
                <img [src]="data.img" class="me-3" />
                <div>
                  <h5 class="pf fw-bold mb-0">{{data.name}}</h5>
                  <p class="color-gray mb-0 pf">{{data.title}}</p>
                </div>
              </th>
              <td class="color-gray" style="width: 10px;">{{data.location}}</td>
              <td class="color-gray">{{data.admin}}</td>
              <td class="color-gray">{{data.amount}}</td>
              <td><span class="rented rounded-5 px-2 py-1">{{data.status}}</span></td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <!-- end Popular Apartments table  -->
     
      <!-- start recent activity table -->
      <div class=" p-3 recentActivity rounded">
        <div class="d-flex justify-content-between mt-1">
          <p class="PopularApartments mt-2 fw-bold">Recent Activities</p>
          <button class="month rounded px-3 py-1 blue viewAll-button">View All</button>
        </div>
        <table class="table">
          <tbody>
            <tr *ngFor="let data of RecentActivitiesList">
              <th scope="row" class="d-flex justify-content-between">
                <div class="d-flex ">
                  <img [src]="data.img" class="me-3" />
                  <div class="ml-3 d-flex justify-content-between">
                    <div>
                      <p class="color-gray fs-12">{{data.status}}</p>
                      <p class="line-height fw-bold">{{data.name}}</p>
                      <p class="color-gray fs-12">
                        <img src="../../../assets/images/tick_done.svg" alt="" srcset="">
                        {{data.message}}
                      </p>
                    </div>
                  </div>
                </div>
                <p class="color-gray fs-12">10:44PM</p>
              </th>
             

            </tr>

          </tbody>
        </table>
      </div>
      <!-- end recent activity -->
    </div>
    <!-- end part 3 in page  -->
  </main>
  <!-- end content page  -->
</div>