.form-control {
    color: #939094;
    border: 3px solid #f9f7f7 !important;
    height: 40px !important
}

.ps-35px {
    padding-left: 35px;
}

.color-gray {
    color: #484649;
}

.h-35 {
    height: 35px !important;
}

.h-30 {
    height: 30px !important;
}

.bg-blue {
    background-color: #1f4068;
}

.month,
.week {
    color: #757a82;
    background-color: white;
    border: 1px solid #ebebeb;
}

@media (min-width: 768px) {
    .xcvdd {
        margin-right: 257px !important;
    }
}

.buttomstyle {
    color: var(--Primary-40, #1F4068);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.apartmentList {
    color: #787579;
    &:hover {
        border-bottom: 2px solid #1f4068 !important;
        font-weight: 600;
        color: #1f4068 !important;
    }
}

.paroductApartment {
    .details {
        border: 1px solid #dfdfdf;
        max-height: 220px;
    }
    .apartmentImage {
        border-radius: 8px 8px 0px 0px;
        max-height: 184px;
    }
    .Price {
        color: #1F4068;
        font-weight: 600;
        font-size: 24px;
        line-height: 33.6px;
        .time {
            font-size: 16px;
            line-height: 16px;
            position: relative;
            top: -2px;
        }
    }
}

.pointer {
    cursor: pointer;
}

.rentedORavailable {
    background-color: rgb(255 255 255 / 70%);
    color: #1f4068 !important;
}

.rented {
    color: #1f4068 !important;
}

.available {
    color: #12b76a !important;
}

.clickApartmentList {
    color: #1f4068 !important;
    font-weight: 600;
    border-bottom: 2px solid #1f4068 !important;
}

.none {
    @media (max-width: 992px) {
        display: none;
    }
}

.p-fileupload-buttonbar .p-button {
    margin-bottom: 10px !important;
}

.cvxs {
    text-align: center;
    color: #1019c6 !important;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px #8FA0B4 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

@media (min-width: 768px) {
    .cvvvvvvv {
        margin-right: -898px;
    }
}

td {
    font-size: 14px !important;
    padding: 1.5rem !important;
    font-family: 'Montserrat';
}

th {
    font-size: 14px !important;
    font-family: 'Montserrat'
}