.form-control {
    color: #939094;
    border: 3px solid #f9f7f7 !important;
    height: 40px !important
}

.ps-35px {
    padding-left: 35px;
}

.color-gray {
    color: #484649;
}

.h-35 {
    height: 35px !important;
}

.h-30 {
    height: 30px !important;
}

.bg-blue {
    background-color: #1f4068;
}

* {
    font-family: 'Montserrat'!important
}