<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Tickets'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'Tickets'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class="p-4 col-lg-10">
        <p-toast></p-toast>

        <!-- <p class="fw-bold" style="color: #6c6a6a"></p> -->
        <div class="fw-inquiries d-flex justify-content-between" style="color: #6c6a6a;">
            <p style=" font-family: Roboto;font-size: 19px;font-weight:600;color:black">Tickets</p>
            <div class="d-flex justify-content-lg-between  ">
                <app-dropdown class="ms-3" style="margin-right: 20px;" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>

                <!-- start dropdown button  -->
                <!-- <app-dropdown class="me-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown> -->
                <!-- end dropdown button  -->
                <!-- start add button (add new owner) in page  -->
                <!-- <app-add-new-button [id]="'/owner/create_new'" class="mt-2"></app-add-new-button> -->

                <!-- end add button (add new owner) in page  -->
            </div>
            <!-- start add button (add new apartment) in page  -->
            <!-- end add button (add new apartment) in page  -->

        </div>
        <div class="card mt-4">

            <div class="d-flex justify-content-between">
                <!-- length Of person -->
                <div class="d-flex mx-2 mt-4">
                    <p class="me-2 fs-5 fw-bold ml-8">Tickets</p>
                    <!-- <p class="mb-3 bg-gray rounded-5 blue px-2 d-flex align-items-center">
              {{fullRespone?.totalRecords}} {{pagePerson}}
          </p> -->
                </div>
                <!-- search input -->
                <div class="d-flex align-items-center mx-2 mt-2 w-50">
                    <ng-container *ngIf="!search; else searchVisible">
                        <!-- <i class="pi pi-search cursor ms-auto" style="margin-right: 2rem;" (click)="search = true"></i> -->
                        <img class="pi pi-search cursor ms-auto" style="margin-right: 2rem;" (click)="search = true" src="../../../assets/images/search.svg">

                    </ng-container>
                    <ng-template #searchVisible>
                        <input class="form-control fs-6 ps-3" *ngIf="search" type="text" pInputText [(ngModel)]="searchText" placeholder="Global Search" />
                        <button class="btn btn-primary ms-2" *ngIf="search" (click)="searchAction()">
                  Search
              </button>
                    </ng-template>
                </div>
            </div>

            <!-- <p-table #dt [value]="_tickets" [(selection)]="_tickets" dataKey="id" [filterDelay]="0" /> -->


            <p-table class="table-shopping" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem' ,'min-': '50rem'}" [value]="_tickets">
                <ng-template pTemplate="header" class="text-center">
                    <tr *ngIf="headerData">
                        <ng-container>

                            <th class="td-name">
                                ticket number

                            </th>
                            <th class="td-name">
                                Complaint type

                            </th>
                            <th class="td-name">
                                complaint details

                            </th>
                            <th class="td-name">
                                Assignee

                            </th>
                            <th class="td-name">
                                status
                            </th>


                            <th class="td-name">


                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inquire>

                    <tr (click)="hidecard(inquire.request_ID)">
                        <td style="cursor: pointer;" routerLink="/message-tiket/{{inquire.ticket_ID}}">

                            {{inquire?.ticket_Code}}
                        </td>

                        <td>
                            {{inquire?.ticket_Type}}
                        </td>
                        <td>
                            {{inquire?.ticket_Desc}}
                        </td>
                        <td>
                            {{inquire?.assigned_To}}
                        </td>

                        <!-- <td>
                      <p class="d-flex align-items-center fw-bold mt-2">{{admin?.status}}</p>
                  </td> -->
                        <td>
                            <div>
                                <span class="rounded-5 px-3 py-1" style="background-color: #cfffcf;color: green;" *ngIf="inquire?.status=='Opened'">

                      {{inquire?.status}}
                  </span>
                                <span class="rounded-5 px-3 py-1" style="background-color: #ffc8c8;color: #930b0b;" *ngIf="inquire?.status=='Closed'">
                    {{inquire?.status}}

                     </span>
                                <span class="rounded-5 px-3 py-1" style="background-color: #0f0b90;color: #ffffff;" *ngIf="inquire?.status=='Resolved'">
                      {{inquire?.status}}

                       </span>


                            </div>
                        </td>
                        <td class="cursor position-relative">
                            <button class="border-0 outlin-0 bg-transparent" *ngIf="inquire?.status=='Opened'" (click)="detailperson( $event,inquire.ticket_ID)">
                <img src="assets/images/edit.svg">
            </button>
                            <div *ngIf="showEdit[inquire.ticket_ID] " style="width: 216px;z-index: 999;right: 98px;" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                                <button *ngIf="inquire?.assigned_To=='Not Assigned'" class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100" routerLink="/assgin-tiket/{{inquire.ticket_ID}}">assign ticket to employee  </button>
                                <button *ngIf="inquire?.assigned_To!='Not Assigned'" class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100" routerLink="/assgin-tiket/{{inquire.ticket_ID}}">reassign ticket to employee  </button>

                                <button style="margin-top:0px !important" class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" routerLink="/message-tiket/{{inquire.ticket_ID}}">pickup ticket</button>



                            </div>




                        </td>

                    </tr>

                </ng-template>


                <ng-template pTemplate="emptymessage">
                    <div class="container text-center mt-4">
                        <p class="mb-0">No data found.</p>
                    </div>
                </ng-template>

            </p-table>
            <p-paginator (onPageChange)="tiggerPageChange($event)" [rows]="pagesize" [totalRecords]="totalRecords"></p-paginator>

            <!-- <div style="width: 100%; height: 72px; padding-top: 12px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px;   justify-content: space-between; align-items: center; display: inline-flex">
            <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

                <button (click)="decreamentPage( )" [disabled]="disableperv" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                  Previous
    </button>
            </div>
            <div style="color: #484649; font-size: 14px; font-family: 'Montserrat'; font-weight: 400; line-height: 20px; word-wrap: break-word">Page {{pageNumber}} of {{totalofPages}}</div>
            <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

                <button [disabled]="disablenext" (click)="   incrementpage( )" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                      Next
        </button>
            </div>
        </div> -->

        </div>
        <!-- persons active -->
        <!-- <div class="col-12 col-md-4 border-end">
        <div class="d-flex justify-content-between">

          <div class="d-flex mx-2 mt-4">
            <p class="me-2 fs-5 fw-bold">Messages</p>
            <p class="mt-1 bg-gray rounded-5 px-1 d-flex align-items-center">
              16
            </p>
          </div>

          <div class="d-flex align-items-center">
            <img src="assets/images/message/Vector.svg" />
          </div>
        </div>
         <div class="p-input-icon-left w-100">
          <i *ngIf="value == ''" class="me-1"><img src="assets/images/message/search-lg.svg" /></i>
          <input class="form-control border rounded-3 mt-2 ps-35px" [class.ps-35px]="value == ''" type="text" pInputText
            placeholder="Search" [(ngModel)]="value" />
        </div>
         <table class="table">
          <tbody>
            <tr>
              <th scope="row">
                <button class="outline-0 border-0 bg-transparent ">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <img *ngIf="activePerson" src="assets/images/message/Dot.svg" class="me-2" />
                      <img src="assets/images/Avatar.svg" class="me-3" />
                      <div class="ml-3 d-flex justify-content-between">
                        <div class="mt-3">
                          <p class="line-height fw-bold mb-0">Umar</p>
                          <p class="color-gray fw-light">@umar</p>
                        </div>
                      </div>
                    </div>
                    <p class="d-flex align-items-center fw-light">5min ago</p>
                  </div>
                  <p class="container fw-light">
                    Hey Loram, Ipsum sent me over the latest doc. I just have a
                    quick question about the...
                  </p>
                </button>

              </th>
            </tr>
            <tr>
              <th scope="row">
                <button class="outline-0 border-0 bg-transparent ">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <img *ngIf="!activePerson" src="assets/images/message/Dot.svg" class="me-2" />
                      <img src="assets/images/Avatar.svg" class="me-3" />
                      <div class="ml-3 d-flex justify-content-between">
                        <div class="mt-3">
                          <p class="line-height fw-bold mb-0">Umar</p>
                          <p class="color-gray fw-light">@umar</p>
                        </div>
                      </div>
                    </div>
                    <p class="d-flex align-items-center fw-light">5min ago</p>
                  </div>
                  <p class="container fw-light">
                    Hey Loram, Ipsum sent me over the latest doc. I just have a
                    quick question about the...
                  </p>
                </button>
              </th>
            </tr>
          </tbody>
        </table>
      </div> -->
        <!-- start the chat -->
        <!-- <div class="col-12 col-md-8 px-0">
         <div class="border py-2 px-3">

          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img src="assets/images/message/Avatar.svg" class="me-3" />
              <div class="ml-3 d-flex justify-content-between">
                <div class="mt-3">
                  <p class="line-height fw-bold mb-0">Umar</p>
                  <p class="color-gray fw-light">@umar</p>
                </div>
                <span class="d-flex align-items-center m-0 ms-4 rounded-4 px-2 mt-3"
                  style="background-color: #ecfdf3; height: 20px; color: green">
                  <img src="assets/images/message/_Dot.svg" class="me-2" />
                  Online</span>
              </div>
            </div>
            <div class="d-flex">
              <a routerLink=""
                class="text-decoration-none bg-blue text-white h-35 d-none d-md-flex align-items-center rounded mt-3 py-2 px-3 text-center"
                style="color: #6c6a6a">View profile</a>
              <button class="bg-transparent mb-2 border-0">
                <img src="assets/images/more_vert_FILL.svg " />
              </button>
            </div>
          </div>

        </div>
         <div class="px-4" style="height: 50%">
           <div class="d-flex justify-content-between reciver mb-2 py-1">
            <div class="d-flex">
              <img src="assets/images/Avatar.svg" class="me-3 mb-3" />
              <div>
                <div class="ml-3 d-flex justify-content-between">
                  <div>
                    <p class="mb-0">Umar</p>
                  </div>
                  <p class="mb-0 fw-light">Thursday 10:16am</p>
                </div>
                <p class="p-2 rounded-end rounded-bottom" style="background-color: #f6f6f6">
                  Hey Ben, can you please share the Wi-Fi password?
                </p>
              </div>
            </div>
          </div>
           <div class="d-flex justify-content-end">
            <div>
              <div class="ml-3 d-flex justify-content-between">
                <div>
                  <p class="mb-0">You</p>
                </div>
                <p class="mb-0 fw-light">Thursday 10:16am</p>
              </div>
              <p class="p-2 rounded-start rounded-bottom text-white bg-blue">
                Hey Ben, can you please share the Wi-Fi password?
              </p>
            </div>
          </div>
        </div>
         <div class="position-relative mb-2 h-25 m-auto" style="width: 95%">
          <textarea id="w3review" name="w3review" class="w-100 h-100 p-3 border rounded" placeholder="Send a message"
            style="resize: none; outline: none"></textarea>
          <div class="position-absolute d-flex justify-content-between" style="right: 6%; bottom: 15%">
            <button class="border-0 bg-transparent">
              <img src="assets/images/message/attach_file.svg" />
            </button>
            <button class="border-0 bg-transparent">
              <img src="assets/images/message/more.svg" />
            </button>
            <button class="text-center px-3 py-1 rounded bg-blue text-white">
              <img src="assets/images/message/sendFill.svg" /> Send
            </button>
          </div>
        </div>
       </div> -->
    </main>
</div>