<div class="d-lg-flex header border py-3 align-item-center  justify-content-between">

    <div class="header-logo col-md-2 d-none d-lg-block text-center"><img class="h-100" src="assets/images/logo.svg"></div>
    <div class="col-lg-10 col-sm-12 row justify-content-between">
        <div class="col-lg-7 col-8 mt-2 ms-lg-0 row ">
            <p class=" col-lg-3 pd d-none d-lg-block">{{titleModule}}</p>
            <div (click)="showSidebar()" class="d-lg-none col-1 ms-4 me-2 fs-4"><i class="fa fa-bars" aria-hidden="true"></i></div>
            <!-- start search button -->
          <!--   <div class="p-input-icon-left col-9 col-lg-8">
                <input class="form-control" [class.ps-35px]="value==''" type="text" pInputText placeholder="Search" [(ngModel)]="value" />
            </div> -->
            <!-- end search button -->
        </div>
        <div class="col-4 mt-2 col-lg-3 d-flex justify-content-end align-items-center">
            <div class="d-flex pe-lg-4 ">
                <!-- start notification -->
                <span (click)="shownot()" style="cursor: pointer; margin-right: 1.25rem;margin-top: 0.7rem;">
                   <!-- <img src="assets/images/notification.svg" /> -->
                   <i class="pi pi-bell mr-4 p-text-secondary"  pBadge [severity]="'danger'" style="font-size: 1.5rem"  [value]="NCount>0?NotiCount10:null"></i>




                </span>
                <!-- end notification -->
                <div [ngStyle]="{ 'display':display1} " (click)="ClickedOut($event)" style=" z-index: 999 ; right: 7.4rem ; margin-top: 3.3rem;position: absolute; width: 26.75rem;" class=" z-3 rounded-3 bg-white cfresda ">
                  <div class="arrow-up">

                  </div>
                    <div class="notifications">
                        <div class="div">
                          <div class="carbon-read" style="cursor: pointer;" *ngIf="NCount>0">
                            <a (click)="MarkAllRead()" style="cursor: pointer;">
                            <i class="fa-solid fa-check-double" style="cursor: pointer;"></i>
                           </a>
                          </div>
                            <div class="carbon-close"><img (click)="closenotifaction()" style="cursor: pointer;" class="vector" src="../../../../assets/images/carbon_close.svg" /></div>
                            <div class="text-wrapper">Notifications</div>
                            <div class="div-2">
                                <div class="frame border" [ngStyle]="{'background-color':item.iS_Readed==false ? '#e9e9e9':'#ffffff'}" *ngFor="let item of NotifiList">
                                    <img class="studiflats" src="../../../../assets/images/Layer 2.svg" />
                                    <div class="frame-wrapper" >
                                        <div class="div-wrapper">

                                            <div class="frame-2">
                                                <div class="new-apartment">{{item.noti_Name}}</div>
                                                <div class="element-jun">{{item.noti_Date }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="item.iS_Readed==false" class="text-wrapper-2"><a style="cursor: pointer !important;" (click)="MarkReaded(item.id)">
                                      <i class="fa-solid fa-eye"></i>

                                    </a></div>
                                    <div *ngIf="item.iS_Readed==true" class="text-wrapper-2"><a style="cursor: pointer !important;" (click)="MarkUnReaded(item.id)">
                                      <i class="fa-solid fa-eye-slash"></i>
                                    </a></div>

                                </div>

                            </div>
                        </div>
                    </div>



                    <!-- <div class="frame">
                        <img class="studiflats" src="img/studiflats-1.svg" />
                        <div class="frame-wrapper">
                            <div class="div-wrapper">
                                <div class="div">
                                    <div class="new-apartment">New Apartment Request</div>
                                    <div class="element-jun">1 Jun 2024</div>
                                </div>
                            </div>
                        </div>
                        <div class="read">Read</div>
                    </div> -->
                </div>
                <div class="d-flex" style="margin-left: 1rem; margin-right: 1rem;">
                    <div class="mt-2 me-1"><img src="assets/images/One.svg" /></div>
                    <p class="pname mt-3">Umar</p>
                </div>
            </div>

        </div>
    </div>

</div>
