<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'admins'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">

    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'admins'"></app-sidebar>

    <main class="p-4 col-lg-10">

        <div class="d-md-flex justify-content-between dashboard mt-2  ">
            <p class="fw-bold ms-1" style="color: #6c6a6a;">Admins</p>
            <div class="d-flex justify-content-lg-between cvvvvvvv ">
                <app-dropdown class="ms-3" style="margin-right: 20px;" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>

                <!-- start dropdown button  -->
                <!-- <app-dropdown class="me-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown> -->
                <!-- end dropdown button  -->
                <!-- start add button (add new owner) in page  -->
                <!-- <app-add-new-button [id]="'/owner/create_new'" class="mt-2"></app-add-new-button> -->
                <a class="px-3 py-2 rounded border text-white text-decoration-none" routerLink="/add-admin" style="background-color:#1F4068; cursor: pointer;">
                    <img src="assets/images/plus.svg" class="me-2 ">Add New
                </a>
                <!-- end add button (add new owner) in page  -->
            </div>
            <p-toast></p-toast>

        </div>
        <div class="card mt-4">


            <p-table #dt [value]="admins" [(selection)]="admins" dataKey="id" [filterDelay]="0" />
            <div class="d-flex justify-content-between">
                <!-- length Of person -->
                <div class="d-flex mx-2 mt-4">
                    <p class="me-2 fs-5 fw-bold ml-8"> admins</p>
                    <p class="mb-3 bg-gray rounded-5 blue px-2 d-flex align-items-center">
                        <!-- {{numberRoles}} -->
                    </p>
                </div>
                <!-- search input -->
                <div class="d-flex align-items-center mx-2 mt-2 w-50">
                    <ng-container *ngIf="!search; else searchVisible">
                        <i class="pi pi-search cursor ms-auto" style="margin-right: 0.75rem;" (click)="search = true"></i>
                    </ng-container>
                    <ng-template #searchVisible>
                        <input class="form-control fs-6 ps-3" *ngIf="search" type="text" pInputText [(ngModel)]="searchText" placeholder="Global Search" />
                        <button class="btn btn-primary ms-2" *ngIf="search" (click)="searchAction()">
                  Search
              </button>
                    </ng-template>
                </div>
            </div>

            <p-table class="table-shopping" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem' ,'min-': '50rem'}" [value]="admins">
                <ng-template pTemplate="header" class="text-center">
                    <tr *ngIf="headerData">
                        <ng-container>


                            <th class="td-name">
                                Name

                            </th>
                            <th class="td-name">
                                Email Address

                            </th>
                            <th class="td-name">
                                Phone Number

                            </th>
                            <th class="td-name">
                                what’s app number

                            </th>
                            <th class="td-name">
                                Role

                            </th>
                            <th class="td-name">
                                Status

                            </th>
                            <th class="td-name">
                                Operation

                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-admin>

                    <tr style="cursor: pointer;" (click)="hidecard()">

                        <td>
                            {{admin?.userName}}
                        </td>
                        <td>
                            {{admin?.email}}
                        </td>
                        <td>
                            {{admin?.phone_num}}
                        </td>
                        <td>
                            {{admin?.wA_Number}}
                        </td>
                        <td>
                            {{admin?.role}}
                        </td>
                        <!-- <td>
                            <p class="d-flex align-items-center fw-bold mt-2">{{admin?.status}}</p>
                        </td> -->
                        <td>
                            <div>
                                <span class="rounded-5 px-3 py-1" style="background-color: #cfffcf;color: green;" *ngIf="admin?.status==true">

                            <i class="fa fa-circle" aria-hidden="true"  *ngIf="admin?.status==true" style="font-size: .6rem;"></i> active
                        </span>
                                <span class="rounded-5 px-3 py-1" style="background-color: #ffc8c8;color: #930b0b;" *ngIf="admin?.status!=true">
                          <i class="fa fa-circle" aria-hidden="true"  *ngIf="admin?.status!=true" style="font-size: .6rem;"></i> inactive

                           </span>
                            </div>
                        </td>
                        <td class="cursor position-relative">
                            <button class="border-0 outlin-0 bg-transparent" (click)="detailperson($event,admin.user_ID)">
                      <img src="assets/images/edit.svg">
                  </button>
                            <div *ngIf="showEdit[admin.user_ID]" style="width:200px;z-index:999 ; right:89px;" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                                <button class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100" routerLink="/edit-admin/{{admin.user_ID}}">update  </button>
                                <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" *ngIf="admin?.status==true" (click)="sendToModel1(admin)">deactivate</button>
                                <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" *ngIf="admin?.status==false" (click)="sendToModel1(admin)">Activate</button>

                                <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" (click)="openModal2(admin.user_ID)"> Delete  </button>
                            </div>
                        </td>

                    </tr>

                </ng-template>


                <ng-template pTemplate="emptymessage">
                    <div class="container text-center mt-4">
                        <p class="mb-0">No data found.</p>
                    </div>
                </ng-template>
            </p-table>

            <!-- <p-paginator *ngIf="roles" (onPageChange)="tiggerPageChange($event)" [rows]="10" [totalRecords]="fullRespone?.totalRecords"></p-paginator> -->

        </div>
    </main>
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display1}" style=" background-color: rgb(23 22 22 / 50%);;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="    margin-top: 150px;">
            <div class="modal-header" style="background-color:#ffffff; border-bottom: none !important;">
                <p class="modal-title" style="color: #1C1B1F; font-size: 20px;   font-weight: 600; line-height: 24px; word-wrap: break-word">
                    <span class="form-label gray fw-bold" style="vertical-align: middle; padding-left:8px">
Activate And Deactivate Admin
            </span>
                </p>
                <button type="button" style="border:none;background-color: #ffffff;width: 68px;height: 50px;" class="close" aria-label="Close" (click)="onCloseModal1()">
<span aria-hidden="true" style="color: #000000;font-size: 35px;">&times;</span>
</button>



            </div>

            <div class="modal-body">


                <div class="row">

                    <div class="mb-3 col-12 col-md-12">
                        <label class="form-label gray fw-bold">select status</label>
                        <!-- start dropdown button  -->
                        <div class="selectForm">
                            <!-- <app-dropdown [list]="listDropDownArea" [holder]="selectArea" (selected)="selectedfromDropDownArea($event,'insert')"></app-dropdown> -->
                            <select style="    font-size: 17px;" class="s-cont form-select form-select-sm mb-3" [(ngModel)]="statusAdmin">
                        <option value="null" disabled hidden selected>select status</option>

                       <option   [ngValue]="true"> Active </option>
                       <option   [ngValue]="false"> DeActive </option>

                  </select>

                        </div>
                        <!-- end dropdown button  -->
                    </div>
                </div>

            </div>




            <div class="modal-footer">

                <div class="d-flex justify-content-between">
                    <div class="py-2 px-3 fw-bold"></div>
                    <div class="d-flex justify-content-between">
                        <a (click)="onCloseModal1()" style="   margin-right: 251px !important; border: 1px solid;" class="backcancel text-decoration-none cursor bg-white rounded-2 py-2 px-3 fw-bold mx-2 xcvdd">
                      Cancel
        </a>
                        <button (click)="onSubmitModal1()" class="rounded-2 text-white rounded-2 border-0 py-2 px-4" style="background-color: #1f4068 !important">
                      confirm
        </button>
                    </div>
                </div>
                <!-- Confirm -->

            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display2}" style=" background-color: rgb(23 22 22 / 50%);;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="    margin-top: 150px;">
            <div class="modal-header" style="background-color:#ffffff; border-bottom: none !important;">
                <p class="modal-title" style="color: #1C1B1F; font-size: 20px;   font-weight: 600; line-height: 24px; word-wrap: break-word">
                    <span class="form-label gray fw-bold" style="vertical-align: middle; padding-left:8px">
                    delete the item
          </span>
                </p>
                <button type="button" style="border:none;background-color: #ffffff;width: 68px;height: 50px;" class="close" aria-label="Close" (click)="onCloseModal2()">
<span aria-hidden="true" style="color: #000000;font-size: 35px;">&times;</span>
</button>



            </div>
            <hr>
            <div class="modal-body">


                <h4 style="margin-top:0px ;margin-bottom: 0px;"> Are you sure you want to delete the item? </h4>

            </div>




            <div class="modal-footer">

                <div class="d-flex justify-content-between">
                    <div class="py-2 px-3 fw-bold"></div>
                    <div class="d-flex justify-content-between">
                        <a (click)="onCloseModal2()" style="   margin-right: 251px !important; border: 1px solid;" class="backcancel text-decoration-none cursor bg-white rounded-2 py-2 px-3 fw-bold mx-2 xcvdd">
                    Cancel
      </a>
                        <button (click)="onSubmitModal2()" class="rounded-2 text-white rounded-2 border-0 py-2 px-4" style="background-color: #1f4068 !important">
                    confirm
      </button>
                    </div>
                </div>
                <!-- Confirm -->

            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>