@media (min-width: 768px) {
    .cvvvvvvv {
        margin-right: -800px;
    }
}

td {
    font-size: 14px !important;
    padding: 1rem .6rem !important;
    font-family: 'Montserrat'
}

th {
    font-size: 14px !important;
    font-family: 'Montserrat'
}
