<div class="bg-white p-3">
    <div>
        <p class="fw-bold mb-0">General info</p>
        <p class="gray">Add property photo and general details.</p>
    </div>
    <p-toast></p-toast>


    <form [formGroup]="generalInfoForm" (ngSubmit)="Create_Apart_General(generalInfoForm)" [autocomplete]="false">
        <div class="row">
            <div class="mb-3 col-12 col-md-6" *ngIf="addApartment == 'add new apartments'">
                <label for="exampleInputPricepermonth" class="form-label gray fw-bold">Apartment ID</label>
                <input disabled type="text" [value]="apt_UUID" class="form-control rounded-2 py-2 fs-6" id="exampleInputPricepermonth" />
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label for="exampleInputSecuritydeposit" class="form-label gray fw-bold">Apartment Name</label>
                <input formControlName='apt_Name' type="text" [class.is-invalid]="generalInfoForm.get('apt_Name')!.invalid && generalInfoForm.get('apt_Name')!.touched " class=" form-control rounded-2 py-2 fs-6" id="exampleInputSecuritydeposit" />
                <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Name')!.invalid && generalInfoForm.get('apt_Name')!.touched ">
          this field is required
        </span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label for="exampleInputPricepermonth" class="form-label gray fw-bold">Price per Month</label>
                <input formControlName='apt_Price' min="0" type="number" [class.is-invalid]="generalInfoForm.get('apt_Price')!.invalid && generalInfoForm.get('apt_Price')!.touched " class="form-control rounded-2 py-2 fs-6" id="exampleInputPricepermonth" />
                <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Price')!.invalid && generalInfoForm.get('apt_Price')!.touched ">
            this field is required
        </span>
            </div>
            <div class="mb-3 col-12 col-md-6">
                <label for="exampleInputSecuritydeposit" class="form-label gray fw-bold">Security Deposit</label>
                <input formControlName="apt_SecuirtyDep" min="0" type="number" [class.is-invalid]="generalInfoForm.get('apt_SecuirtyDep')!.invalid && generalInfoForm.get('apt_SecuirtyDep')!.touched " class="form-control rounded-2 py-2 fs-6" id="exampleInputSecuritydeposit"
                />
                <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_SecuirtyDep')!.invalid && generalInfoForm.get('apt_SecuirtyDep')!.touched ">
            this field is required
        </span>
            </div>
        </div>
        <!--all bills included ?-->
        <div>
            <p class="d-md-inline-block gray fw-bold mb-0 me-3">
                All Bills included ?
            </p>
            <div class="form-check d-inline-block mb-2" *ngFor="let data of listRadiobutton">
                <input class="form-check-input" [checked]="bills === data" type="radio" name="createbills" value="{{ data }}" id="createContract" (change)="DoyouCreatebills($event)" />
                <label class="fw-bold me-3" for="createbills"> {{ data }} </label>
            </div>
        </div>
        <div class="mb-3" *ngIf="bills == 'No'">
            <label for="exampleFormControlTextarea1" class="form-label gray fw-bold">Bills Description</label>
            <textarea formControlName="apt_BillDescirption" [class.is-invalid]="generalInfoForm.get('apt_BillDescirption')!.invalid && generalInfoForm.get('apt_BillDescirption')!.touched " class="border p-3 pt-3 rounded-2 w-100" rows="5" style="resize: inherit"></textarea>
            <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_BillDescirption')!.invalid && generalInfoForm.get('apt_BillDescirption')!.touched ">
            this field is required
      </span>
        </div>

        <div class="mb-4">
            <div class="row " *ngIf="addApartment == 'add new apartments'">
                <div class="mb-3 col-12 col-md">
                    <label class="form-label gray fw-bold">Street Name</label>
                    <input formControlName="apt_StName" type="text" [class.is-invalid]="generalInfoForm.get('apt_StName')!.invalid && generalInfoForm.get('apt_StName')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_StName')!.invalid && generalInfoForm.get('apt_StName')!.touched ">
            this field is required
          </span>
                </div>
                <div class="mb-3 col-12 col-md">
                    <label class="form-label gray fw-bold">Building</label>
                    <input formControlName="apt_BuildingNo" type="text" [class.is-invalid]="generalInfoForm.get('apt_BuildingNo')!.invalid && generalInfoForm.get('apt_BuildingNo')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_BuildingNo')!.invalid && generalInfoForm.get('apt_BuildingNo')!.touched ">
            this field is required
          </span>
                </div>
                <div class="mb-3 col-12 col-md">
                    <label class="form-label gray fw-bold">City / Postal Code</label>
                    <input formControlName="apt_CityorPostal" type="text" [class.is-invalid]="generalInfoForm.get('apt_CityorPostal')!.invalid && generalInfoForm.get('apt_CityorPostal')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_CityorPostal')!.invalid && generalInfoForm.get('apt_CityorPostal')!.touched ">
            this field is required
          </span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Area</label>
                    <!-- start dropdown button  -->
                    <div class="selectForm">
                        <!-- <app-dropdown [list]="listDropDownArea" [holder]="selectArea" (selected)="selectedfromDropDownArea($event,'insert')"></app-dropdown> -->
                        <select class="s-cont form-select form-select-sm mb-3" name="apt_Area" id="apt_Area" formControlName="apt_Area">
                          <option value="0" disabled  selected>Select Area</option>

                         <option *ngFor="let type of listDropDownArea" value="{{type.name}}"> {{type.name}} </option>
                    </select>

                    </div>
                    <!-- end dropdown button  -->
                </div>

                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Square Meters</label>
                    <input formControlName="apt_SquareMeters" type="number" [class.is-invalid]="generalInfoForm.get('apt_SquareMeters')!.invalid && generalInfoForm.get('apt_SquareMeters')!.touched " class="form-control rounded-2  fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_SquareMeters')!.invalid && generalInfoForm.get('apt_SquareMeters')!.touched ">
            this field is required
          </span>
                </div>

            </div>
            <div class="row">

                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Floor Number</label>
                    <!-- start dropdown button  -->
                    <!-- <app-dropdown [list]="listDropDownFloor" [holder]="selectFloor" (selected)="selectedfromDropDownFloor($event)"></app-dropdown> -->
                    <select class="s-cont form-select form-select-sm mb-3" name="apt_FloorNo" id="apt_FloorNo" formControlName="apt_FloorNo">
                      <option value="0"    disabled  selected>  &nbsp; Select Floor Number   </option>

                    <option *ngFor="let type of listDropDownFloor" value="{{type.name}}"> {{type.name}} </option>
                    </select>
                    <!-- end dropdown button  -->
                </div>
                <div class="mb-3 col-12 col-md-6" *ngIf="addApartment == 'add new apartments'">
                    <label class="form-label gray fw-bold">Apartment Number</label>
                    <!-- start dropdown button  -->
                    <!-- <app-dropdown [list]="listDropDownApartmentnumber" [holder]="Apartmentnumber" (selected)="selectedfromDropDownApartmentnumber($event)"></app-dropdown> -->
                    <select class="s-cont form-select form-select-sm mb-3" name="apt_AptNo" id="apt_AptNo" formControlName="apt_AptNo">
                      <option value="0"   disabled  selected>Select Apartment Number   </option>

                    <option *ngFor="let type of listDropDownApartmentnumber" value="{{type.name}}"> {{type.name}} </option>
                    </select>
                    <!-- end dropdown button  -->
                </div>
                <div class="mb-3 col-12 col-md-6" *ngIf="addApartment != 'add new apartments'">
                    <label for="exampleInput" class="form-label gray fw-bold">Address</label>
                    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="Address" class="form-control rounded-2 py-2 fs-6" id="exampleInput" />

                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6">
                    <label for="exampleInput" class="form-label gray fw-bold">Max. Number of Guests</label>
                    <input formControlName="apt_MaxGuest" type="number" [class.is-invalid]="generalInfoForm.get('apt_MaxGuest')!.invalid && generalInfoForm.get('apt_MaxGuest')!.touched " class="form-control rounded-2 py-2 fs-6" id="exampleInput" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_MaxGuest')!.invalid && generalInfoForm.get('apt_MaxGuest')!.touched ">
            this field is required
          </span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Property Owner</label>
                    <!-- start dropdown button  -->
                    <!-- <app-dropdown [list]="listDropDownPropertyowner" [holder]="Propertyowner" (selected)="selectedfromDropDownPropertyowner($event)"></app-dropdown> -->
                    <!-- end dropdown button  -->
                    <select class="s-cont form-select form-select-sm mb-3" name="apt_Owner" id="apt_Owner" formControlName="apt_Owner" (change)="SetOwnerName($event)">
                      <option value="0" disabled selected>Select Property Owner</option>

                     <option *ngFor="let type of listDropDownPropertyowner" value="{{type.id}}"> {{type.name}} </option>
                     <!-- <option value="null"  >    <app-add-new-button [id]="'owner/create_new'"></app-add-new-button>
                     </option> -->

                </select>

                </div>
            </div>
            <!-- create new field Transport-->

            <div class="row" *ngFor="let transportData of Createtransport">
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Transport name </label>
                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="transportData.t_Name" type="text" class="form-control rounded-2 py-2 fs-6" />

                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold"> Transport Distance
          </label>
                    <input [ngModelOptions]="{standalone: true}" [(ngModel)]="transportData.t_Distance" type="text" class="form-control rounded-2 py-2 fs-6" />
                </div>

            </div>


            <app-input-field [labelinputs]="LabelTransport" (transport)="transport($event)" [textButton]="'Add New Transport'"></app-input-field>

        </div>
        <div>
            <div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label gray fw-bold">Description</label>
                    <textarea formControlName="apt_Descirpt" [class.is-invalid]="generalInfoForm.get('apt_Descirpt')!.invalid && generalInfoForm.get('apt_Descirpt')!.touched " class="border p-3 pt-3 rounded-2 w-100" rows="5" style="resize: inherit"></textarea>
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Descirpt')!.invalid && generalInfoForm.get('apt_Descirpt')!.touched ">
            this field is required
          </span>
                </div>
                <p class="grayLabel">
                    Include details like utilities, amenities, any deposits needed and when it's available.
                </p>
            </div>
            <!-- start -->
            <div class="row">
                <div>
                    <label class="form-label gray fw-bold"> Add Property Image
                  </label>
                    <p-progressSpinner *ngIf="spinner == true"></p-progressSpinner>

                    <div class="position-relative h-124px mb-3">
                        <!-- start single img upload and preview -->

                        <ng-container>
                            <input type="file" accept="image/*" multiple="multiple" (change)="selectFile($event)" class="ng-star-inserted d-block w-100 h-124px file position-absolute">
                            <img src="assets/images/apartmentImages/_File upload base.svg" class="position-absolute" width="100%">
                        </ng-container>

                        <!-- end single img upload and preview -->
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 13px;">
                <div class="col-8 bomar">

                    <!-- <button type="button" style="background-color: #1f4068 !important;margin-left: 10px;" class="rounded-2 text-white rounded-2 border-0 py-2 px-4  " [disabled]="!selectedFiles" (click)="upload()">
      Confirm
    </button> -->
                </div>
            </div>
            <div class="card1">
                <!-- <div class="row">
                    <div class="col-md-2 card33" *ngFor="let image of ListFiles;  index as i ">
                        <a (click)="removeItem(image.name)" style="      border: none;   margin-bottom: 10px; position: absolute;">
                            <img class="imageRemove" src="../../../../../../assets/images/delete.svg" width="32px" height="32px;">
                        </a>
                        <input type="checkbox" id="st{{i}}" (change)="checkValue($event,image)" />
                        <label for="st{{i}}"></label>
                        <a (click)="opencloseModal(urls[i])">
                            <img [src]="urls[i]" alt="Avatar" style="width:339px;height:205px ; ">

                        </a>

                    </div>
                </div> -->
                <!-- *ngIf="storedImages!=null||storedImages!=''" -->
                <div class="row">
                    <div class="col-md-2 card33" *ngFor="let image of apt_imgs;  index as i ">
                        <a (click)="removeItem(image.apt_imgs)" style="      border: none;   margin-bottom: 10px; position: absolute;">
                            <img class="imageRemove" src="../../../../../../assets/images/delete.svg" width="32px" height="32px;">
                        </a>
                        <!-- <input type="checkbox" id="st{{i}}" (change)="checkValue($event,image)" /> -->
                        <input type="radio" name="color" id="st{{i}}" (change)="checkValue($event,image.apt_imgs)">

                        <label for="st{{i}}"></label>
                        <a (click)="opencloseModal(image.apt_imgs)">
                            <img [src]="image.apt_imgs" alt="Avatar" style="width:339px;height:205px ; ">

                        </a>

                    </div>
                </div>
                <!-- <div class="row" *ngIf="edit=='EditForm'">
                    <div class="col-md-2 card33" *ngFor="let image of aprt_details_Edit?.property_Imgs;  index as i ">

                        <a (click)="opencloseModal(image.apt_imgs)">
                            <img [src]="image.apt_imgs" alt="Avatar" style="width:339px;height:205px ; ">

                        </a>

                    </div>
                </div> -->
            </div>
            <!-- end -->


            <!-- <div *ngIf="addApartment != 'Edit Apartment Name'">
                <p class="fw-bold">Add property images</p>
                <div class="mb-3">
                    <p-fileUpload name="Files[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*,.pdf" [maxFileSize]="5000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes -
                                    <input type="checkbox">
                                </li>
                            </ul>

                        </ng-template>
                    </p-fileUpload>
                </div>
                {{apt_imgs}}
            </div>
            <div class="mb-4" *ngIf="addApartment == 'Edit Apartment Name'">
                <div>
                    <p class="fw-bold">Add Property Images</p>
                    <div class="d-flex">
                        <div class="w-145px me-2 h-124px">
                            <img class="w-100 h-100" src="assets/images/apartmentImages/photo.svg" />
                        </div>
                        <div class="w-145px me-2 h-124px">
                            <img class="w-100 h-100" src="assets/images/apartmentImages/photo.svg" />
                        </div>
                        <div class="w-145px me-2 h-124px">
                            <img class="w-100 h-100" src="assets/images/apartmentImages/photo.svg" />
                        </div>
                        <div class="w-145px me-2 h-124px">
                            <img class="w-100 h-100" src="assets/images/apartmentImages/photo.svg" />
                        </div>
                        <div class="w-145px me-2 h-124px">
                            <div class="position-relative h-124px mb-3">
                                <input type="file" accept="image/*" class="ng-star-inserted d-block w-100 h-124px file position-absolute">
                                <img src="assets/images/apartmentImages/File upload1.svg" class="position-absolute">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
        <div>
            <div class="mb-3 mt-4">
                <label class="form-label gray fw-bold">Add Video Link</label>
                <input formControlName="apt_VideoLink" type="text" class="form-control rounded-2 py-2 fs-6" />

            </div>
            <div class="mb-3">
                <label class="form-label gray fw-bold"> Google Map Location</label>
                <!-- <button type="button" class="rounded-2 text-white rounded-2 border-0 py-2 px-4 buttonmargin" style="background-color: #1f4068 !important" (click)="openModelLocation()"> Add Location </button> -->
                <input formControlName="apt_MapLink" type="text" class="form-control rounded-2 py-2 fs-6" />

            </div>
            <div class="mb-3">
                <label class="form-label gray fw-bold">360D Link</label>
                <input formControlName="apt_360D" type="text" class="form-control rounded-2 py-2 fs-6" />
                <!-- <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('d_link')!.invalid && generalInfoForm.get('d_link')!.touched ">
        this field is required
      </span> -->
            </div>
            <div class="mb-3 col-12 col-md-6 " *ngIf="addApartment != 'Edit Apartment Name'">
                <label class="form-label gray fw-bold">Apartment type </label>
                <!-- start dropdown button  -->
                <!-- <app-dropdown [list]="listDropDownApartmentType" [holder]="apartmenttype" (selected)="selectedfromDropDownApartmentType($event)"></app-dropdown> -->
                <!-- end dropdown button  -->
                <select class="s-cont form-select form-select-sm mb-3" name="apt_types" id="apt_types" formControlName="apt_types" (ngModelChange)="onChange($event)">
                  <option value="null" disabled hidden selected> Select Apartment Type  </option>

                 <option *ngFor="let type of listDropDownApartmentType" value="{{type.name}}"> {{type.name}} </option>
            </select>
            </div>
            <div class="col-md-6 "></div>
            <div class="row" [class.none]="showNone">
                <div class="mb-3 col-12 col-md-6" *ngIf="isShow">
                    <label class="form-label gray fw-bold">No. of Bedrooms</label>
                    <input formControlName="apt_Bedrooms" type="number" [class.is-invalid]="generalInfoForm.get('apt_Bedrooms')!.invalid && generalInfoForm.get('apt_Bedrooms')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Bedrooms')!.invalid && generalInfoForm.get('apt_Bedrooms')!.touched ">
            this field is required
          </span>
                </div>
                <div class="mb-3 col-12 col-md-6" *ngIf="isShow">
                    <label class="form-label gray fw-bold">No. of Toilets</label>
                    <input formControlName="apt_Toilets" type="number" [class.is-invalid]="generalInfoForm.get('apt_Toilets')!.invalid && generalInfoForm.get('apt_Toilets')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Toilets')!.invalid && generalInfoForm.get('apt_Toilets')!.touched ">
            this field is required
          </span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6" *ngIf="edit=='EditForm'&&aprt_details_Edit?.apt_types=='Apartment'">
                    <label class="form-label gray fw-bold">No. of Bedrooms</label>
                    <input formControlName="apt_Bedrooms" type="number" [class.is-invalid]="generalInfoForm.get('apt_Bedrooms')!.invalid && generalInfoForm.get('apt_Bedrooms')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Bedrooms')!.invalid && generalInfoForm.get('apt_Bedrooms')!.touched ">
          this field is required
        </span>
                </div>
                <div class="mb-3 col-12 col-md-6" *ngIf="edit=='EditForm'&&aprt_details_Edit?.apt_types=='Apartment'">
                    <label class="form-label gray fw-bold">No. of Toilets</label>
                    <input formControlName="apt_Toilets" type="number" [class.is-invalid]="generalInfoForm.get('apt_Toilets')!.invalid && generalInfoForm.get('apt_Toilets')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Toilets')!.invalid && generalInfoForm.get('apt_Toilets')!.touched ">
          this field is required
        </span>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-md-6" [class.none]="showNone" *ngIf="isShow">
                    <label class="form-label gray fw-bold">No. of Livingroom</label>
                    <input formControlName="apt_Living" type="number" [class.is-invalid]="generalInfoForm.get('apt_Living')!.invalid && generalInfoForm.get('apt_Living')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Living')!.invalid && generalInfoForm.get('apt_Living')!.touched ">
            this field is required
          </span>
                </div>
                <div class="mb-3 col-12 col-md-6" *ngIf="edit=='EditForm'&&aprt_details_Edit?.apt_types=='Apartment'">
                    <label class="form-label gray fw-bold">No. of Livingroom</label>
                    <input formControlName="apt_Living" type="number" [class.is-invalid]="generalInfoForm.get('apt_Living')!.invalid && generalInfoForm.get('apt_Living')!.touched " class="form-control rounded-2 py-2 fs-6" />
                    <span class="text-danger d-block m-2 " *ngIf="generalInfoForm.get('apt_Living')!.invalid && generalInfoForm.get('apt_Living')!.touched ">
          this field is required
        </span>
                </div>
                <div class="mb-3 col-12 col-md-6">
                    <label class="form-label gray fw-bold">Elevator </label>
                    <!-- start dropdown button  -->
                    <!-- <app-dropdown [list]="listDropDownElevator" [holder]="Elevator" (selected)="selectedfromDropDownElevator($event)"></app-dropdown> -->
                    <!-- end dropdown button  -->
                    <select class="s-cont form-select form-select-sm mb-3" name="apt_Elevator" id="apt_Elevator" formControlName="apt_Elevator">
                      <option value="null" disabled hidden selected> select Elevator  </option>
                      <option [ngValue]="true"  > yes  </option>
                      <option [ngValue]="false" > no  </option>

                     <!-- <option *ngFor="let type of listDropDownElevator" value="{{type.Namevalue}}"> {{type.name}} </option> -->
                </select>
                </div>
            </div>
        </div>
        <hr />

        <div class="d-flex justify-content-between">
            <div class="py-2 px-3 fw-bold"></div>
            <div class="d-flex justify-content-between">
                <button (click)="gotopage()" class="backcancel text-decoration-none cursor bg-white rounded-2 py-2 px-3 fw-bold mx-2">
            Close
        </button>
                <button type="submit" class="rounded-2 text-white rounded-2 border-0 py-2 px-4" style="background-color: #1f4068 !important">
          Next
        </button>
            </div>
        </div>
    </form>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#1F4068;">
                <button type="button" class="close" aria-label="Close" (click)="onCloseModalal()">
  <span aria-hidden="true" style="color:#e70b0b;">&times;</span>
</button>

                <p class="modal-title" style="color: #fff">
                    <span style="vertical-align: middle; padding-left:8px">
location            </span>
                </p>


            </div>

            <div class="modal-body">
                <google-map [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)">
                    <map-marker [position]="display1">
                    </map-marker>
                </google-map>

                <div>Latitude: {{display1?.lat}}</div>
                <div>Longitude: {{display1?.lng}}</div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-white bbtclose" (click)="onCloseModalal()">
   close
</button>

            </div>


        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display22}" style="background-color: rgba(90,90,90,0.5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">
                <img [src]="imageSize" style="width:100%" />

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white bbtclose" (click)="oncloseModal()">
 close
</button>

            </div>


        </div>
    </div>
</div>