.p-dropdown {
    color: #757a82 !important;
    width: 100% !important;
    border:1px solid #ebebeb !important
}

.p-dropdown .p-dropdown-label {
    padding: 5px 10px !important;
}

.p-dropdown-items-wrapper {
    overflow: hidden !important;
    overflow-y: scroll !important;
}
