.month,
.week {
    color: #757a82;
    background-color: white;
    border: 1px solid #ebebeb;
}

.cvxs {
    text-align: center;
    color: #1019c6 !important;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    border: 1px #8FA0B4 solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
}

td {
    padding: .5rem 0.5rem !important;
    font-size: 14px !important;
    font-family: 'Montserrat'!important
}

th {
    font-size: 14px !important;
    font-family: 'Montserrat'!important
}

i {
    font: normal normal normal 14px/1 FontAwesome !important;
}