<!-- <app-edite-user-details></app-edite-user-details> -->
<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Tenant'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">

    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'Tenant'"></app-sidebar>
    <!-- end sidebar  -->

    <!-- start content page  -->
    <main class="p-4 col-lg-10 ">
        <div class="d-md-flex justify-content-between dashboard mt-2">
            <p class="fw-bold ms-1" style="color: #6c6a6a;">Tenants : {{numberTenants}}</p>
            <div class="d-flex justify-content-lg-between ">
                <div class="d-flex justify-content-between ">
                    <!-- <button class="month rounded-start px-3 py-1 outline-none">This Month</button>
                    <button class="week rounded-end px-3 py-1 outline-none">Last Week</button> -->
                </div>
                <!-- start dropdown button  -->
                <app-dropdown class="ms-3" [list]="listDropDown" (selected)="selectedfromDropDown($event)"></app-dropdown>
                <!-- end dropdown button  -->
                <!-- start addUserButton  -->
                <!-- <app-add-new-button class="ms-3 mt-2" [id]="'app-user-details'"></app-add-new-button> -->
                <!-- end addUserButton  -->

            </div>
        </div>

        <p-toast></p-toast>
        <div class="card mt-4">

            <p-table class="table-shopping" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem' ,'min-': '50rem'}" [value]="Tenants">
                <ng-template pTemplate="header" class="text-center">
                    <tr *ngIf="headerData">
                        <ng-container>


                            <th class="td-name">
                                Name

                            </th>
                            <th class="td-name">
                                Registered time

                            </th>
                            <th class="td-name">
                                Email address

                            </th>
                            <th class="td-name">
                                Number of rented

                            </th>
                            <th class="td-name">
                                Behaviour

                            </th>
                            <th class="td-name">
                                Status

                            </th>
                            <th class="td-name">
                                Operation

                            </th>
                        </ng-container>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Tenant>

                    <tr (click)="hidecard(Tenant.request_ID)">

                        <td>

                            <img *ngIf=" Tenant.user_Photo  " routerLink="/app-edite-user-details/{{Tenant.user_ID}}" [src]="Tenant?.user_Photo" style="height: 50px;width: 50px;border-radius: 46%;margin-right: 9px;cursor: pointer;">


                            <img *ngIf="!Tenant.user_Photo" routerLink="/app-edite-user-details/{{Tenant.user_ID}}" src="../../../assets/images/Frame 1261154899.svg" style="height: 50px;width: 50px;border-radius: 46%;margin-right: 9px;cursor: pointer;">                            {{Tenant?.user_Name}}

                        </td>
                        <td>
                            {{Tenant?.reg_Time}}
                        </td>
                        <td>
                            {{Tenant?.email}}
                        </td>
                        <td>
                            {{Tenant?.rent_No}}
                        </td>

                        <!-- <td>
                    <p class="d-flex align-items-center fw-bold mt-2">{{admin?.status}}</p>
                </td> -->
                        <td>
                            <div>
                                <span class="rounded-5 px-3 py-1" style="background-color:#e6e6e6cf;;color: rgb(0, 0, 0);font-size: 12px !important;" [class.active]="Tenant?.user_Behavior=='Approved'">

                    <i class="fa fa-circle" aria-hidden="true"    style="font-size: 12px !important;"></i> {{Tenant?.user_Behavior}}
                </span>


                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="rounded-5 px-3 py-1" style="background-color: #cfffcf;color: green;border-left: none; font-size: 12px!important;" *ngIf="Tenant?.status==true">

                <i class="fa fa-circle" aria-hidden="true"    style="font-size: .6rem !important;"></i> Active
            </span>
                                <span class="rounded-5 px-3 py-1" style="background-color: #ffc8c8;color: #930b0b;border-left: none;font-size: 12px !important;" *ngIf="Tenant?.status==false">

              <i class="fa fa-circle" aria-hidden="true"    style="font-size: .6rem !important;"></i> Suspended
          </span>

                            </div>
                        </td>
                        <td class="cursor position-relative">
                            <button class="border-0 outlin-0 bg-transparent" (click)="detailperson($event,Tenant.user_ID)">
              <img src="assets/images/edit.svg">
          </button>
                            <div *ngIf="showEdit[Tenant.user_ID] " style="width: 191px;z-index: 999;right: 98px;" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                                <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" *ngIf="TantsRole?.p_Update==true || is_Super==true" routerLink="/app-edite-user-details/{{Tenant.user_ID}}">view details</button>

                                <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" (click)="DeleteUser(Tenant.user_ID)" *ngIf="TantsRole?.p_Delete==true || is_Super==true"> Delete </button>
                                <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" *ngIf="Tenant?.status!=false" (click)="SuspendUser(Tenant.user_ID)">Suspend User </button>
                                <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" *ngIf="Tenant?.status==false" (click)="unSuspendUser(Tenant.user_ID)">UnSuspend User </button>

                            </div>

                        </td>

                    </tr>

                </ng-template>


                <ng-template pTemplate="emptymessage">
                    <div class="container text-center mt-4">
                        <p class="mb-0">No data found.</p>
                    </div>
                </ng-template>

            </p-table>

            <p-paginator (onPageChange)="tiggerPageChange($event)" [rows]="pagesize" [totalRecords]="totalRecords"></p-paginator>
        </div>
        <!-- <p-paginator (onPageChange)="tiggerPageChange($event)" [rows]="5" [totalRecords]="totalRecords"></p-paginator> -->

        <!-- <div style="width: 100%; height: 72px; padding-top: 12px; padding-bottom: 16px; padding-left: 24px; padding-right: 24px;   justify-content: space-between; align-items: center; display: inline-flex">
            <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

                <button (click)="decreamentPage( )" [disabled]="disableperv" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                Previous
  </button>
            </div>
            <div style="color: #484649; font-size: 14px; font-family: 'Montserrat'; font-weight: 400; line-height: 20px; word-wrap: break-word">Page {{pageNumber}} of {{totalofPages}}</div>
            <div style="border-radius: 4px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">

                <button [disabled]="disablenext" (click)="   incrementpage( )" class="  cvxs" style="text-align: center; color: #1F4068; font-size: 16px; font-family: 'Montserrat'; font-weight: 500; line-height: 20px; word-wrap: break-word">
                    Next
      </button>
            </div>
        </div> -->

    </main>
    <!-- end content page  -->
</div>
