<div class="card mt-4 bvngd">


    <p-table #dt [value]="products" [(selection)]="products" dataKey="id" [filterDelay]="0" />
    <div class="d-flex justify-content-between">
        <!-- length Of person -->
        <div class="d-flex mx-2 mt-4">
            <p class="me-2 fs-5 fw-bold ml-8">{{pagePerson}}</p>
            <p class="mb-3 bg-gray rounded-5 blue px-2 d-flex align-items-center">
                {{fullRespone?.totalRecords}} {{pagePerson}}
            </p>
        </div>
        <!-- search input -->
        <div class="d-flex align-items-center mx-2 mt-2 w-50">
            <ng-container *ngIf="!search; else searchVisible">
                <i class="pi pi-search cursor ms-auto" style="margin-right: 0.75rem;" (click)="search = true"></i>
            </ng-container>
            <ng-template #searchVisible>
                <input class="form-control fs-6 ps-3" *ngIf="search" type="text" pInputText [(ngModel)]="searchText" placeholder="Global Search" />
                <button class="btn btn-primary ms-2" *ngIf="search" (click)="searchAction()">
                    Search
                </button>
            </ng-template>
        </div>
    </div>

    <p-table class="table-shopping" [(selection)]="selectedProducts" [dataKey]="dataSelectionKey" [rows]="2" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}" [value]="products">
        <ng-template pTemplate="header" class="text-center">
            <tr *ngIf="headerData">
                <ng-container *ngFor="let head of headerData">
                    <th *ngIf="head.tableHeaderCheckbox">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th *ngIf="!head.tableHeaderCheckbox && (head.Name && head.SortableColumn)" [pSortableColumn]="head.SortableColumn" class="td-name">
                        {{head.Name}}
                        <p-sortIcon *ngIf="head.sortIcon == true" [field]="head.SortableColumn"></p-sortIcon>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>

            <tr style="cursor: pointer;" (click)="hidecard( )">
                <!-- <td>
                    <p-tableCheckbox [value]="product" (click)="GetSelectedItem()"></p-tableCheckbox>
                </td> -->
                <!-- in owner case -->
                <td *ngIf="pagePerson =='Owners'  " routerLink="/owner-profile/{{product.owner_ID}}">
                    <p class="d-flex align-items-center fw-bold mt-2">
                        <img [src]="product?.owner_Photo" style="height: 50px;width: 50px;border-radius: 46%;margin-right: 9px;"> {{product.owner_FirstName}} {{product.owner_LastName }}</p>
                </td>
                <td *ngIf="pagePerson =='Owners' && product.owner_BankAccoun">{{product.owner_BankAccoun}}</td>
                <td *ngIf="pagePerson =='Owners' && product.owner_Mail">{{product.owner_Mail}}</td>
                <td *ngIf="pagePerson=='Owners'  ">{{product.owner_Phone}}</td>
                <!-- <td *ngIf="pagePerson=='Owners'">{{product.gender}}</td> -->
                <td *ngIf="pagePerson=='Owners'">{{product.owner_About}}</td>
                <td *ngIf="pagePerson=='Owners' " class="cursor position-relative">
                    <button class="border-0 outlin-0 bg-transparent" (click)="detailperson($event,product.owner_ID)">
                  <img src="assets/images/edit.svg">
              </button>
                    <div *ngIf="showEdit[product.owner_ID]" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                        <button *ngIf="OwnersRole?.p_View==true || is_Super==true" routerLink="/owner-profile/{{product.owner_ID}}" class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100">View Profile</button>

                        <button *ngIf="OwnersRole?.p_Update==true || is_Super==true" routerLink="/owner/edit_owner/{{product.owner_ID}}" class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100">Edit</button>

                        <button *ngIf="OwnersRole?.p_Delete==true || is_Super==true" (click)="confirmDelete($event,product)" class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100">Delete</button>

                    </div>
                    <!-- <div class="flex align-items-center justify-content-center gap-2">
                        <button routerLink="/owner/edit_owner/{{product.owner_ID}}" pButton pRipple type="button"
                            icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>

                        <button pButton pRipple type="button" icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="confirmDelete($event,product)"></button>
                        <p-confirmPopup></p-confirmPopup>

                    </div> -->
                </td>

                <td *ngIf="pagePerson =='Users' && product.name">{{product.name}}</td>
                <td *ngIf="pagePerson =='Users' && product.img">{{product.img}}</td>
                <td *ngIf="pagePerson =='Users' && product.Registered_time">{{product.Registered_time}}</td>
                <td *ngIf="pagePerson =='Users' && product.email">{{product.email}}</td>
                <td *ngIf="pagePerson =='Users' && product.Number_of_rented">{{product.Number_of_rented}}</td>
                <td *ngIf="pagePerson=='Users'&& product.Behaviour">
                    <div>
                        <span class="rounded-5 px-3 py-1" [class.good]="product.Behaviour=='Good'" [class.bad]="product.Behaviour=='Bad'" [class.average]="product.Behaviour=='Average'">
                            <i class="fa fa-circle" aria-hidden="true" style="font-size: .6rem;"></i>
                            {{product.Behaviour}}
                        </span>
                    </div>
                </td>

                <td *ngIf="pagePerson =='Reports'">{{product.Report_ID}}</td>
                <td *ngIf="pagePerson =='Reports'">{{product.Requested_by}}</td>
                <td *ngIf="pagePerson =='Reports'">{{product.Table_header}}</td>
                <td *ngIf="pagePerson =='Reports'">{{product.Date_Reported}}</td>
                <td *ngIf="pagePerson =='Reports'">{{product.Descriptions}}</td>
                <td *ngIf="pagePerson =='Reports'">{{product.owner_Mail}}</td>
                <!-- <td   *ngIf="pagePerson!='Users' "
                    >
                    <div>
                        <span class="rounded-5 px-3 py-1" [class.active]="product.Status=='Active'"
                        [class.offline]="product.Status=='Offline'"
                        [class.Deactivated]="product.Status=='Deactivated'"
                        [class.scheduled]="product.Status=='Scheduled'"
                        [class.InProgress]="product.Status=='In Progress'"
                        [class.completed]="product.Status=='Completed'"
                        >
                            <i class="fa fa-circle" aria-hidden="true" style="font-size: .6rem;"></i> {{product.Status}}
                        </span>
                    </div>
                </td> -->

                <td class="cursor position-relative" *ngIf="product.Name == 'action'">
                    <button class="border-0 outlin-0 bg-transparent" (click)="detailperson($event,product.id)">
                        <img src="assets/images/edit.svg">
                    </button>
                    <div *ngIf="showEdit[product.id]" class="position-absolute z-3 rounded-3 bg-white border edit-button">
                        <button class="d-block border-0 outlin-0 bg-transparent button text-start py-2 w-100">Edit</button>
                        <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100" *ngIf="pagePerson=='Reports'">Share</button>
                        <button class="d-block border-0 outlin-0 bg-transparent my-2 button text-start py-2 w-100">Delete</button>
                        <button class="d-block border-0 outlin-0 bg-transparent button w-100 text-start py-2" *ngIf="pagePerson=='Users'">Suspend User</button>
                    </div>
                </td>

            </tr>

        </ng-template>


        <ng-template pTemplate="emptymessage">
            <div class="container text-center mt-4">
                <p class="mb-0">No data found.</p>
            </div>
        </ng-template>
    </p-table>

    <p-paginator *ngIf="products" (onPageChange)="tiggerPageChange($event)" [rows]="10" [totalRecords]="fullRespone?.totalRecords"></p-paginator>

</div>
