.active {
    color: #1f4068 !important;
    background-color: #fafcff;
    border-left: 3px solid #1f4068;
}

.content-details {
    @media (min-width: 992px) {
        margin-left: 17%;
        padding: 0 10% !important;
    }
}

.top-icon-input {
    top: 30px;
}

.rentedORavailable {
    background-color: rgb(255 255 255 / 70%);
    color: #1f4068 !important;
}

.rented {
    color: #1f4068 !important;
}

.available {
    color: #12b76a !important;
}

.p-dropdown {
    width: 100% !important;
    height: 40px;
    .p-dropdown-label {
        padding: 5px 10px;
    }
}

.downloadAll {
    border: 1px solid#939094 !important;
    color: #1F4068 !important;
}

* {
    font-family: 'Montserrat'!important
}

.gray {
    color: #6c6a6a;
}

.blue {
    color: #1F4068
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.imgPreviewUploader {
    max-width: 35% !important;
    ;
}

.blue {
    color: #1F4068
}

.cursor {
    cursor: pointer;
}
