<!-- start header  -->
<header>
    <app-head (newItemEvent)="addItem($event)" [titleModule]="'Ticket'"></app-head>
</header>
<!-- end header  -->

<div class="row m-0">
    <!-- start sidebar  -->
    <app-sidebar class="col-lg-2" [showSide]="showSide" [titlepage]="'messages'"></app-sidebar>
    <!-- end sidebar  -->
    <!-- start content page  -->
    <main class="p-4 col-lg-10">
        <p class="fw-bold" style="color: #6c6a6a">Messages</p>
        <div class="mt-3 row border bg-white rounded-3">
            <!-- persons active -->
            <div class="col-12 col-md-4 border-end">
                <div class="d-flex justify-content-between">

                    <div class="d-flex mx-2 mt-4">
                        <p class="me-2 fs-5 fw-bold">Messages</p>
                        <p class="mt-1 bg-gray rounded-5 px-1 d-flex align-items-center">
                            16
                        </p>
                    </div>

                    <div class="d-flex align-items-center">
                        <img src="assets/images/message/Vector.svg" />
                    </div>
                </div>
                <!-- start search button -->
                <div class="p-input-icon-left w-100">
                    <i *ngIf="value == ''" class="me-1"><img src="assets/images/message/search-lg.svg" /></i>
                    <input class="form-control border rounded-3 mt-2 ps-35px" [class.ps-35px]="value == ''" type="text" pInputText placeholder="Search" [(ngModel)]="value" />
                </div>
                <!-- end search button -->
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                <button class="outline-0 border-0 bg-transparent ">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <img *ngIf="activePerson" src="assets/images/message/Dot.svg" class="me-2" />
                      <img src="assets/images/Avatar.svg" class="me-3" />
                      <div class="ml-3 d-flex justify-content-between">
                        <div class="mt-3">
                          <p class="line-height fw-bold mb-0">Umar</p>
                          <p class="color-gray fw-light">@umar</p>
                        </div>
                      </div>
                    </div>
                    <p class="d-flex align-items-center fw-light">5min ago</p>
                  </div>
                  <p class="container fw-light">
                    Hey Loram, Ipsum sent me over the latest doc. I just have a
                    quick question about the...
                  </p>
                </button>

                            </th>
                        </tr>
                        <tr>
                            <th scope="row">
                                <button class="outline-0 border-0 bg-transparent ">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <img *ngIf="!activePerson" src="assets/images/message/Dot.svg" class="me-2" />
                      <img src="assets/images/Avatar.svg" class="me-3" />
                      <div class="ml-3 d-flex justify-content-between">
                        <div class="mt-3">
                          <p class="line-height fw-bold mb-0">Umar</p>
                          <p class="color-gray fw-light">@umar</p>
                        </div>
                      </div>
                    </div>
                    <p class="d-flex align-items-center fw-light">5min ago</p>
                  </div>
                  <p class="container fw-light">
                    Hey Loram, Ipsum sent me over the latest doc. I just have a
                    quick question about the...
                  </p>
                </button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- start the chat -->
            <div class="col-12 col-md-8 px-0">
                <!-- start head in the chat-->
                <div class="border py-2 px-3">

                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <img src="assets/images/message/Avatar.svg" class="me-3" />
                            <div class="ml-3 d-flex justify-content-between">
                                <div class="mt-3">
                                    <p class="line-height fw-bold mb-0">Umar</p>
                                    <p class="color-gray fw-light">@umar</p>
                                </div>
                                <span class="d-flex align-items-center m-0 ms-4 rounded-4 px-2 mt-3" style="background-color: #ecfdf3; height: 20px; color: green">
                  <img src="assets/images/message/_Dot.svg" class="me-2" />
                  Online</span>
                            </div>
                        </div>
                        <div class="d-flex">
                            <a routerLink="" class="text-decoration-none bg-blue text-white h-35 d-none d-md-flex align-items-center rounded mt-3 py-2 px-3 text-center" style="color: #6c6a6a">View profile</a>
                            <button class="bg-transparent mb-2 border-0">
                <img src="assets/images/more_vert_FILL.svg " />
              </button>
                        </div>
                    </div>

                </div>
                <!-- end head in the chat-->
                <!-- start content in the chat-->
                <div class="px-4" style="height: 50%">
                    <!-- Reciver -->
                    <div class="d-flex justify-content-between reciver mb-2 py-1">
                        <div class="d-flex">
                            <img src="assets/images/Avatar.svg" class="me-3 mb-3" />
                            <div>
                                <div class="ml-3 d-flex justify-content-between">
                                    <div>
                                        <p class="mb-0">Umar</p>
                                    </div>
                                    <p class="mb-0 fw-light">Thursday 10:16am</p>
                                </div>
                                <p class="p-2 rounded-end rounded-bottom" style="background-color: #f6f6f6">
                                    Hey Ben, can you please share the Wi-Fi password?
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Sender -->
                    <div class="d-flex justify-content-end">
                        <div>
                            <div class="ml-3 d-flex justify-content-between">
                                <div>
                                    <p class="mb-0">You</p>
                                </div>
                                <p class="mb-0 fw-light">Thursday 10:16am</p>
                            </div>
                            <p class="p-2 rounded-start rounded-bottom text-white bg-blue">
                                Hey Ben, can you please share the Wi-Fi password?
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end content in the chat-->
                <!-- start send a message in the chat-->
                <div class="position-relative mb-2 h-25 m-auto" style="width: 95%">
                    <textarea id="w3review" name="w3review" class="w-100 h-100 p-3 border rounded" placeholder="Send a message" style="resize: none; outline: none"></textarea>
                    <div class="position-absolute d-flex justify-content-between" style="right: 6%; bottom: 15%">
                        <button class="border-0 bg-transparent">
              <img src="assets/images/message/attach_file.svg" />
            </button>
                        <button class="border-0 bg-transparent">
              <img src="assets/images/message/more.svg" />
            </button>
                        <button class="text-center px-3 py-1 rounded bg-blue text-white">
              <img src="assets/images/message/sendFill.svg" /> Send
            </button>
                    </div>
                </div>
                <!-- end send a message in the chat-->
            </div>
            <!-- end the chat-->
        </div>
    </main>
    <!-- end content page  -->
</div>