p-calendar .p-calendar {
    width: 100%;
}

span {
    width: 100%;
}

.frame .input-field-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding: 0px 550px 0px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    padding: 0px 0px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
}

.div-5 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.primary-button {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 4px;
    all: unset;
    box-sizing: border-box;
}

.auto-layout-button {
    display: inline-flex;
    height: 44px;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--primary-shadesprimary70);
    all: unset;
    box-sizing: border-box;
}

* {
    font-family: 'Montserrat'!important
}

.gray {
    color: #6c6a6a;
}

.blue {
    color: #1F4068
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.imgPreviewUploader {
    max-width: 35% !important;
    ;
}

span {
    width: 100%;
}

.p-calendar {
    width: 100%;
}
