.active {
    color: #1f4068 !important;
    background-color: #fafcff;
    border-left: 3px solid #1f4068;
}

.content-details {
    @media (min-width: 992px) {
        margin-left: 17%;
        padding: 0 10% !important;
    }
}

.top-icon-input {
    top: 30px;
}

.rentedORavailable {
    background-color: rgb(255 255 255 / 70%);
    color: #1f4068 !important;
}

.rented {
    color: #1f4068 !important;
}

.available {
    color: #12b76a !important;
}

.p-dropdown {
    width: 100% !important;
    height: 40px;
    .p-dropdown-label {
        padding: 5px 10px;
    }
}

.downloadAll {
    border: 1px solid#939094 !important;
    color: #1F4068 !important;
}

* {
    font-family: 'Montserrat'!important
}

.gray {
    color: #6c6a6a;
}

.blue {
    color: #1F4068
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.imgPreviewUploader {
    max-width: 35% !important;
    ;
}

.blue {
    color: #1F4068
}

.cursor {
    cursor: pointer;
}

.p-rating .p-rating-icon.p-rating-icon-active {
    color: #ffce00;
}

.gray {
    color: #605D62
}

.blue {
    color: #1F4068
}

.cursor {
    cursor: pointer;
}

.aboutOwner {
    @media (min-width: 993px) {
        margin-top: -16%;
    }
}

.maxImg {
    max-width: 178px !important;
    max-height: 134px !important;
}

@media (min-width:769px) {
    video {
        width: 500px;
        height: 270px
    }
}

.mapouter {
    position: relative;
    text-align: right;
    width: 500px;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 500px;
    height: 300px;
}

.gmap_iframe {
    width: 500px!important;
    height: 300px!important;
}

@media (min-width: 768px) {
    .map-container {
        width: 500px !important;
        height: 300px !important;
    }
}

@media (max-width: 768px) {
    .map-container {
        width: 320px !important;
        height: 300px !important;
    }
}

.scrollmage {
    height: 151px;
    overflow: scroll;
}

.testimonial-group>.row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group>.row>.col-md-4 {
    display: inline-block;
    float: none;
}

.vcrr {
    display: block;
}

* {
    font-family: 'Montserrat'!important
}

.profile1 {
    width: 1130px;
    height: 1717px;
    padding: 24px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border: 1px #EBEBEB solid;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}

@media (max-width: 768px) {
    .profile1 {
        width: auto;
        display: block !important;
    }
    .ptof11 {
        display: block!important;
    }
    .ptof12 {
        display: block!important;
    }
}

.ptof11 {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex
}
