.gray {
    color: #6c6a6a;
}

.blue {
    color: #1F4068
}

.uploadedContractBorder {
    border: 1px solid #235a9e;
}

.backcancel {
    border: 1px solid#798CA4 !important;
    color: #0C1A2A !important;
}

.file {
    z-index: 3 !important;
    opacity: 0;
    cursor: pointer;
}

.h-124px {
    height: 124px !important;
}

.cursor {
    cursor: pointer;
}

.imgPreviewUploader {
    max-width: 35% !important;
    ;
}

* {
    font-family: 'Montserrat'
}
