.week {
  color: #757a82;
  border: 1px solid #ebebeb;
}
.month{
  background-color: #1F4068;
}
.month,.week{padding: 5px 10px;}
.fs-16{font-size: 1rem;}
.gray{color: #757a82;}
.h-350{height: 350px !important;}
.overflow-overlay{overflow: overlay;}
.h-350{height: 350px !important;}