.frist11 {
    height: 879px;
    position: relative;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    overflow: hidden
}

@media print {
    .xxcprint {
        margin-top: 0%;
    }
    .section33 {
        float: right;
        margin-left: 500px;
    }
    header {
        display: none !important
    }
    .xprintt {
        display: none !important
    }
    .zswed {
        display: none !important
    }
    .prepheap {
        margin-left: -150px !important
    }
    .pricinn {
        margin-right: 150px !important
    }
}

.ddfdffd {
    text-align: right;
    color: #60737D;
    font-size: 16.50px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

@media (min-width: 768px) {
    .frist11 {
        margin-left: 70px;
        width: 1050px;
    }
    .imgginv {
        gap: 637.74px;
    }
}

@media (max-width: 768px) {
    .section33 {
        left: 180.24px !important
    }
}

.frist22 {
    width: 1020.24px;
    height: 300.06px;
    left: 15.07px;
    top: 140.97px;
    position: absolute;
    background: #EAF0F7;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.frist33 {
    width: 862.70px;
    height: 1.50px;
    left: 15px;
    top: 795.01px;
    position: absolute;
    background: #F2F5F9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.frist44 {
    left: 45.01px;
    top: 276px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

.frist55 {
    color: #121722;
    font-size: 21px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word
}

.frist66 {
    color: #121722;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.invice1 {
    left: 45.01px;
    top: 170.97px;
    position: absolute;
    color: #121722;
    font-size: 30.01px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.invoce2 {
    left: 45.01px;
    top: 462.04px;
    position: absolute
}

.invoce3 {
    color: #121722;
    font-size: 24.01px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.invice4 {
    color: #121722;
    font-size: 19.50px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.invice5 {
    color: #121722;
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.invoce6 {
    color: #121722;
    font-size: 19.50px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.price11 {
    left: 760.68px;
    top: 465.04px;
    position: absolute;
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.total22 {
    left: 934.72px;
    top: 465.04px;
    position: absolute;
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.section33 {
    width: 145px;
    left: 860.24px;
    top: 170.97px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    display: inline-flex
}

.class33 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 6px;
    display: flex
}

.invoicenu {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.invocede {
    text-align: right;
    color: #121722;
    font-size: 19.50px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.divclassss {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 18px;
    display: flex
}

.ttott {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 3px;
    display: flex
}

.issue33 {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.datedes {
    text-align: right;
    color: #121722;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.phonein {
    text-align: right;
    color: #484649;
    font-size: 13.91px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 18.09px;
    word-wrap: break-word
}

.prpee {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4.64px;
    display: inline-flex
}

.prepheap {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6.96px;
    display: flex
}

.imgginv {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.imgheap {
    left: 25.51px;
    top: 30.15px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 637.74px;
    display: inline-flex
}

.pricinn {
    text-align: right;
    color: #121722;
    font-size: 24.01px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

.ccarddinvice {
    text-align: right;
    color: #60737D;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.priceeins {
    left: 934.72px;
    top: 531.06px;
    position: absolute;
    text-align: right;
    color: #121722;
    font-size: 16.50px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}

.stackkc {
    width: 802.69px;
    height: 19.50px;
    left: 45.01px;
    top: 531.06px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.stysda {
    width: 364.59px;
    height: 60.01px;
    padding-left: 30.01px;
    padding-right: 30.01px;
    left: 670.66px;
    top: 765px;
    position: absolute;
    background: #DEE7F2;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex
}